<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<main layout:fragment="content">
    <h1>Wyslij wiadomosc</h1>

    <form action="/send" method="post" th:object="${mailMessage}">
        <div class="mb-3">
            <label for="senderName" class="form-label">Nazwa nadawcy:</label>
            <input type="text" class="form-control" id="senderName">
        </div>
        <div class="mb-3">
            <label for="senderEmail" class="form-label">E-Mail nadawcy:</label>
            <input type="email" class="form-control" id="senderEmail" th:field="*{from}">
        </div>
        <div class="mb-3">
            <label for="mailContent" class="form-label">Tresc Wiadomosci:</label>
            <textarea type="email" class="form-control" id="mailContent" th:field="*{text}"/>
        </div>
        <button type="submit" class="btn btn-primary">Wyslij</button>
    </form>
</main>
</html>